<%- include("header") -%>
<h2>This is a about page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, adipisci,
  asperiores sed quasi veritatis, magni praesentium architecto iusto similique
  unde culpa nam. Aliquid molestiae nesciunt dicta eveniet, delectus recusandae
  consectetur.
</p>

<%- include("footer") -%>
